.gallery--card--link {
  text-decoration: none;
}

.gallery--card--text {
  color: black;
  font-weight: 500;
}

.gallery--image--container{
  max-width: 100%;
  overflow: hidden;
  z-index: 1;
}

.gallery--card--img {
  transition: 2s ease all;
  width: 100%;
  object-fit:cover;}

.gallery--card--img:hover {
  transform: scale(1.2);
}
