/* Projects main container */

.projects--container--main {
  display: flex;
  flex-direction: column;
}

/* Showcase */

.showcase {
  min-height: 200px;
  background: url('../images/projects-banner.png') no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.showcase--heading, .showcase--text {
  max-width: 50%;
  margin: 0;
  padding: 0;
}

.showcase h1 {
  font-size: 2rem;
  padding-bottom: 0.5rem;
}

.thin {
  font-weight: 300;
}

/* City Filters */

.filter--city--box{
  margin: 2rem auto;
}

.filter--list {
  display: flex;
  justify-content: center;
  text-align: center;
  list-style: none;
}

.filter--list--item {
  margin-right: 3rem;
}

.filter--list--item button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Poppins';
  font-weight: 500;
}

.filter--list--item button:hover {
  color: #FF7326;
}
