.single--page--wrapper {
  margin: 50px auto;
  display: flex;
  text-align: center;
  justify-content: center;
  max-width: 80%;
}

.single--page--grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.single--page--header{
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.single--page--title {
  margin: 0 auto;
  text-align: center;
  font-weight: 400;
}

.single--page--link a{
  text-decoration: none;
}

.svg {
  scale: 2;
  color: #FF7326;
}

.svg:hover {
  color: #ff945a;
}

/*  Dark Theme */

#dark .single--page--title {
  color: #FF7326;
}

#dark .project--description {
  color: #fff;
}

#dark .svg {
  color: #fff;
}

#dark .svg:hover {
  color: #b7b7b7;
}
