@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

body {
  margin: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  font-family: Poppins;
  margin: 0;
  padding: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#light {
  background-color: #fff;
}

#dark {
  background-color: #343434;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Media Queries */

@media screen and (max-width: 576px) {
  /* styles for screens up to 768px wide */

  /* NavBar */

  .navbar .leftSide {
    padding: 0;
  }

  .navbar .rightSide {
    padding-right: 0;
  }

  /* About Us */
  .homepageContainer .aboutUs {
    padding: 16px 18px;
  }

  .aboutUs .textBox {
    padding: 40px 16px;
  }

  .topSide {
    flex-direction: column;
    align-items: center;
  }

  .topImg {
    width: 90%;
  }

  .homepageContainer .bottomSide {
    flex-direction: column;
    align-items: center;
  }

  /* Projects */

  .projects--image {
    width: 90%;
  }

  .projects .projects--container{
    width: 100%;
  }

  .projects .projects--container .projectsInfo {
    margin-top: 10px;
    color: #000;
    width: 80%;
    position: unset;
    margin: 0 auto;
  }



  /* Dark Theme Projects */

  #dark .projects .projects--container .projectsInfo {
    color: #fff;
  }

  /* Footer */

  .footerLinks {
    display: flex;
    flex-direction: column;
  }

  .footerLinks a{
    padding: 0 5px;
  }

  /* Projects Page */

  /* Showcase */

  .projectsHeader .showcase .showcase--heading {
    max-width: 90%;
    padding: 0.5rem;
  }

  .projectsHeader .showcase .showcase--text {
    max-width: 80%;
  }

  /* Filter bar */

  .filter--city--box .filter--list{
    flex-direction: column;
  }


  .filter--list .filter--list--item {
    margin-right: 1rem;
  }

  .projects--container--main .filter--city--box {
    margin: 0.4rem;
  }

  .projects--container--main .gallery--grid {
    padding: 1rem;
    grid-template-columns: repeat(1, 1fr);
  }

  .gallery--card--wrapper .gallery--card--text {
    text-align: center;
    font-size: 13px;
  }

  /* Single Project Page */

  .single--page--container .single--page--grid {
    grid-template-columns: repeat(1, 1fr);
  }

  /* Contacts */

  .contacts .contacts--container {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .contacts--container .form-wrapper{
    width: 100%;
    height: 100%;
    margin: 0;
    border-radius: 0;
  }

  .contacts--container .info--wrapper{
    position: unset;
    margin: 1rem auto;
  }

  #dark .contacts--container {
    background-color: #c0c0c0;
  }

}

@media screen and (min-width: 576px) and (max-width: 768px) {
  /* styles for screens between 768px and 1024px wide */

  /* NavBar */

   .navbar .rightSide .navbar--link {
    margin: auto 13px;
  }

  /* About Us */
  .homepageContainer .aboutUs {
    padding: 16px 18px;
  }

  .topSide {
    flex-direction: column;
    align-items: center;
  }

  .topImg {
    width: 80%;
  }

  .homepageContainer .bottomSide {
    flex-direction: column;
    align-items: center;
  }

  /* Projects */

  .projects--image {
    width: 80%;
  }

  .projects .projects--container{
    position: unset;
    width: 100%;
  }

  .projects .projects--container .projectsInfo {
    margin-top: 10px;
    color: #000;
    width: 80%;
    position: unset;
    margin: 0 auto;
  }

  /* Dark Theme Projects */

  #dark .projects .projects--container .projectsInfo {
    color: #fff;
  }

  /* Footer */

  .footerLinks {
    display: flex;
    flex-direction: column;
  }

  .footerLinks a{
    padding: 0 5px;
  }

  /* Filter bar */


  .filter--list .filter--list--item {
    margin-right: 1rem;
  }

  .projects--container--main .filter--city--box {
    margin: 0.4rem;
  }

  .projects--container--main .gallery--grid {
    padding: 1rem;
    grid-template-columns: repeat(2, 1fr);
  }

  .gallery--card--wrapper .gallery--card--text {
    text-align: center;
    font-size: 13px;
  }

  /* Single Project Page */

  .single--page--container .single--page--grid {
    grid-template-columns: repeat(1, 1fr);
  }

  /* Contacts */

  .contacts .contacts--container {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .contacts--container .form-wrapper{
    width: 90%;
    height: 100%;
    margin: 1rem auto;
    border-radius: 10px;
    padding-bottom: 2rem;
  }

  .contacts--container .info--wrapper{
    position: unset;
    margin: 1rem auto;
  }


}

@media screen and (min-width: 768px) and (max-width: 992px) {
  /* styles for screens between 768px and 1024px wide */
  .homepageContainer .aboutUs {
    padding: 16px 18px;
  }

  .topSide {
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }

  .topImg {
    width: 75%;
  }

  .homepageContainer .bottomSide {
    flex-direction: column;
    align-items: center;
  }

  .topSide .textBox {
    width: 75%;
  }

  .bottomSide .textBox {
    width: 75%;
  }

  .textBox {
    padding: 40px 70px 0;
  }

  /* Projects */

  .projects--image {
    width: 400px;
  }

  .projects .projects--container{
    position: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .projectsImage .projects--image {
    width: 70%;
  }

  .projects .projects--container .projectsInfo {
    margin-top: 10px;
    color: #000;
    width: 80%;
    position: unset;
    margin: 0 auto;
  }

  /* Dark Theme Projects */

  #dark .projects .projects--container .projectsInfo {
    color: #fff;
  }

  /* Footer */

  .footerLinks {
    display: flex;
    flex-direction: column;
  }

  .footerLinks a{
    padding: 0 5px;
  }

  /* Filter bar */

  /* .filter--city--box .filter--list{
    flex-direction: column;
  } */

  .projects--container--main .filter--city--box {
    margin: 0.4rem;
  }

  .projects--container--main .gallery--grid {
    padding: 1rem;
  }

  .gallery--card--wrapper .gallery--card--text {
    text-align: center;
    font-size: 11px;
  }

  /* Single Project Page */

  .single--page--container .single--page--grid {
    grid-template-columns: repeat(2, 1fr);
  }

  /* Contacts */

  .contacts .contacts--container {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .contacts--container .form-wrapper{
    width: 70%;
    height: 100%;
    margin: 1rem auto;
    border-radius: 10px;
    padding-bottom: 2rem;
  }

  .contacts--container .info--wrapper{
    position: unset;
    margin: 1rem auto;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  /* styles for screens between 768px and 1024px wide */
  .homepageContainer .aboutUs {
    padding: 16px 18px;
  }

  .topSide {
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }

  .topImg {
    width: 75%;
  }

  .homepageContainer .bottomSide {
    flex-direction: column;
    align-items: center;
  }

  .topSide .textBox {
    width: 75%;
  }

  .bottomSide .textBox {
    width: 75%;
  }

  .textBox {
    padding: 40px 70px 0;
  }

  /* Projects */

  .projects--image {
    width: 90%;
  }

  .projects--container{
    position: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .projectsImage .projects--image {
    width: 70%;
  }

  .projects .projects--container .projectsInfo {
    margin-top: 10px;
    color: #000;
    width: 80%;
    position: unset;
    margin: 0 auto;
  }



  /* Dark Theme Projects */

  #dark .projects .projects--container .projectsInfo {
    color: #fff;
  }

  /* Footer */

  .footerLinks {
    display: flex;
    flex-direction: column;
  }

  .footerLinks a{
    padding: 0 5px;
  }
}

@media screen and (min-width: 1200px) {
  /* styles for screens between 768px and 1024px wide */
}
