@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

body {
  margin: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  font-family: Poppins;
  margin: 0;
  padding: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#light {
  background-color: #fff;
}

#dark {
  background-color: #343434;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Media Queries */

@media screen and (max-width: 576px) {
  /* styles for screens up to 768px wide */

  /* About Us */
  .homepageContainer .aboutUs {
    padding: 16px 18px;
  }

  .topSide {
    flex-direction: column;
    align-items: center;
  }

  .topImg {
    width: 400px;
  }

  .homepageContainer .bottomSide {
    flex-direction: column;
    align-items: center;
  }

  /* Projects */

  .projects--image {
    width: 400px;
  }

  .projects--container{
    position: unset;
  }

  .projects .projects--container .projectsInfo {
    margin-top: 10px;
    color: #000;
    width: 80%;
    position: unset;
    margin: 0 auto;
  }

  /* Dark Theme Projects */

  #dark .projects .projects--container .projectsInfo {
    color: #fff;
  }

  /* Footer */

  .footerLinks {
    display: flex;
    flex-direction: column;
  }

  .footerLinks a{
    padding: 0 5px;
  }


}

@media screen and (min-width: 576px) and (max-width: 768px) {
  /* styles for screens between 768px and 1024px wide */
  /* About Us */
  .homepageContainer .aboutUs {
    padding: 16px 18px;
  }

  .topSide {
    flex-direction: column;
    align-items: center;
  }

  .topImg {
    width: 400px;
  }

  .homepageContainer .bottomSide {
    flex-direction: column;
    align-items: center;
  }

  /* Projects */

  .projects--image {
    width: 400px;
  }

  .projects--container{
    position: unset;
  }

  .projects .projects--container .projectsInfo {
    margin-top: 10px;
    color: #000;
    width: 80%;
    position: unset;
    margin: 0 auto;
  }

  /* Dark Theme Projects */

  #dark .projects .projects--container .projectsInfo {
    color: #fff;
  }

  /* Footer */

  .footerLinks {
    display: flex;
    flex-direction: column;
  }

  .footerLinks a{
    padding: 0 5px;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  /* styles for screens between 768px and 1024px wide */
  .homepageContainer .aboutUs {
    padding: 16px 18px;
  }

  .topSide {
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }

  .topImg {
    width: 75%;
  }

  .homepageContainer .bottomSide {
    flex-direction: column;
    align-items: center;
  }

  .topSide .textBox {
    width: 75%;
  }

  .bottomSide .textBox {
    width: 75%;
  }

  .textBox {
    padding: 40px 70px 0;
  }

  /* Projects */

  .projects--image {
    width: 400px;
  }

  .projects--container{
    position: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .projectsImage .projects--image {
    width: 70%;
  }

  .projects .projects--container .projectsInfo {
    margin-top: 10px;
    color: #000;
    width: 80%;
    position: unset;
    margin: 0 auto;
  }

  /* Dark Theme Projects */

  #dark .projects .projects--container .projectsInfo {
    color: #fff;
  }

  /* Footer */

  .footerLinks {
    display: flex;
    flex-direction: column;
  }

  .footerLinks a{
    padding: 0 5px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  /* styles for screens between 768px and 1024px wide */
  .homepageContainer .aboutUs {
    padding: 16px 18px;
  }

  .topSide {
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }

  .topImg {
    width: 75%;
  }

  .homepageContainer .bottomSide {
    flex-direction: column;
    align-items: center;
  }

  .topSide .textBox {
    width: 75%;
  }

  .bottomSide .textBox {
    width: 75%;
  }

  .textBox {
    padding: 40px 70px 0;
  }

  /* Projects */

  .projects--image {
    width: 400px;
  }

  .projects--container{
    position: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .projectsImage .projects--image {
    width: 70%;
  }

  .projects .projects--container .projectsInfo {
    margin-top: 10px;
    color: #000;
    width: 80%;
    position: unset;
    margin: 0 auto;
  }

  /* Dark Theme Projects */

  #dark .projects .projects--container .projectsInfo {
    color: #fff;
  }

  /* Footer */

  .footerLinks {
    display: flex;
    flex-direction: column;
  }

  .footerLinks a{
    padding: 0 5px;
  }
}

@media screen and (min-width: 1200px) {
  /* styles for screens between 768px and 1024px wide */
}
